contextdecorator
django-jsonfield>=0.9.2,!=0.9.13,!=1.0.0
django-modeldict-yplan>=1.5.0
docutils
flake8
flake8-commas
freezegun
futures<3.2.0
isort
multilint
nexus-yplan>=1.6.0
Pygments
pytest
pytest-cov
pytest-django
pytz
pytz
sqlparse
